<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tbody>
            {% for funcionario in funcionarios %}
                <tr>
                    <td>{{ funcionario.sobrenome }}</td>
                    <td>{{ funcionario.nome }}</td>
                    <td>{{ funcionario.cpf }}</td>
                    <td>{{ funcionario.remuneracao }}</td>
                    <td>{{ funcionario.tempo_de_servico }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>